.login-option-1 {
    width: 100%;
    height: 50px;
    color: var(--text-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-option {
    width: 100px;
    position: absolute;
    background-color: var(--white-color);
    right: 0px;
    top: 130%;
    border-radius: 2px;
    border: 1px solid rgb(211, 211, 211);
    transform-origin: 90% top;
    animation: 0.25s ease-in 0s 1 normal none running ShowNotify;
    will-change: opacity, transform;
    display: none;
    z-index: 1000;
}

.sub-item:hover .login-option {
    display: block;
    cursor: pointer;
}

.login-option::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-image: initial;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.login-option-1-text {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    align-self: center;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 3px 0 0 0;
    margin: 3px 0;
}

.login-option-1-text:hover {
    background-color: #eaeaea;
}

.nen-trang {
    background-color: white;
}

.header__search-cart {
    width: 80%;
    border: 1px solid var(--primary-color);
}

.form__logo-cart {
    color: var(--primary-color) !important;
    padding-left: 30px;
    border-left: 1px solid var(--primary-color);
}

.cart-content-header {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 30px 0px 0px 0px;
    font-size: 14px;
    color: var(--text-color-light);
    font-weight: 700;
    padding: 20px 10px;
    border-radius: 3px;
    align-items: center;
}

.cart-content-left {
    padding-left: 40px !important;
}

.cart-content {
    font-weight: 500;
}

.cart-content-left p{
    overflow: hidden;
}

.cart-quantity {
    width: 50%;
}

.cart-content-img {
    width: 100%;
    display: flex;
}

.cart-content-img img {
    width: 100px;
    margin-right: 20px;
}

.btn-op {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    background-color: white;
    color:  var(--primary-color);
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
}

.btn-op:hover {
    background-color: var(--primary-color);
    color: white;
}

.total {
    color:  var(--primary-color);
}

.card-nen-trang {
    background-color: white;
}

.thanh-toan {
    margin-bottom: 20px;
}

.order {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    align-items: center;
    align-self: center;
}

.order:hover {
    background-color: #ee4d2de6;
}

.total-op {
    align-items: flex-end;
    font-size: 18px;
}

.total-price {
    color: var(--primary-color);
}

.xu {
    color: #f6a700;
    font-size: 14px;
}