.header {
    position: static !important;
}

.product-content {
    margin: 30px 0;
    padding: 10px 0;
    display: flex;
    background-color: var(--white-color);
    border-radius: 3px;
}

.pd-title {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.pd-title p{
    width: 70px;
    font-size: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0px 5px;
    margin-right: 10px;
    border-radius: 3px;
    text-align: center;
}

.product-content img {
    width: 100%;
}

.pd-b {
    margin-right: 20px;
    font-size: 16px;
    color: var(--text-color);
}

.pd-b i {
    text-align: center;
    font-size: 14px;
    color: orangered;
    transform: translateY(-2px);
}

.pd-b1 {
    display: flex;
    align-items: center;
    align-self: center;
}

.pd-b2 {
    padding: 0 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.pd-b1 p {
    margin-right: 5px;
}

.pd-react {
    display: flex;
    align-items: center;
}

.pd-price {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: var(--primary-color);
    background-color: #f5f5f5;
    padding-left: 20px;
}

.pd-price p {
    margin-right: 10px;
    text-decoration: underline;
}

.pd-price h3 {
    margin: 0;
}

.pd-price-sale {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
    margin-left: 15px;
    padding: 3px 7px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

.pd-content {
    color: var(--text-color);
    margin-top: 30px;
    font-size: 14px;
}

.pd-content p{
    line-height: 24px;
}

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 35px;
    width: 40px;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
    font-size: 20px;
    color: #8e8d8d !important;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color: #fff;
    width: 50px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.buttons_added {
    color: var(--text-color);
}

.pd-button {
    display: flex;
}

.pd-a2c {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 30px;
    padding:  10px;
    cursor: pointer;
    background-color: #ee4d2d0f;
    border-radius: 3px;
}

.pd-a2c:hover {
    background-color: #ee4d2d26;
}

.pd-a2c p {
    margin: 0 10px;
}